@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}


.spin{
  animation: spins 0.5s linear;
}

@keyframes spins{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

@keyframes borderGreenStart{
  0%{
    width:0%;
  }
  25%{
    width:25%;
  }
  50%{
    width:50%;
  }
  75%{
    width:75%;
  }
  100%{
    width:100%;
    
  }
}

.borderGreenStart{
  animation: borderGreenStart 0.3s linear;
}


.imageBack{
  background-image: url("/house-11.png");
  background-attachment: fixed;
}

.blackEffect{
  background-image: linear-gradient(to top, rgb(29, 23, 23) 10%, rgba(0, 0, 0, 0) 100%);
}

.blackEffect2{
  background-color: rgba(0, 0, 0, 0.4);
}